// Material tabs
.tabs-material {
  border-bottom: none;

  .nav-link {
    font-weight: 500;
    color: $black;
    border: none;
    border-radius: 0;
    cursor: pointer;

    &.active {
      color: $green;
      background-color: transparent;
      border-bottom: 3px solid $green;
    }
  }

  .nav-item {
    &:last-child {
      .nav-link {
        border-right: none;
      }
    }
  }
}
