
/** Black */
@font-face {
  font-family: "SF UI Display";
  font-weight: 900;
  src: local('SF UI Display Black'), url('../fonts/sf-ui-display-black.woff') format('woff');
}

/** Heavy */
@font-face {
  font-family: "SF UI Display";
  font-weight: 800;
  src: local('SF UI Display Heavy'), url('../fonts/sf-ui-display-heavy.woff') format('woff');
}

/** Bold */
@font-face {
  font-family: "SF UI Display";
  font-weight: 700;
  src: local('SF UI Display Bold'), url('../fonts/sf-ui-display-bold.woff') format('woff');
}

/** Semibold */
@font-face {
  font-family: "SF UI Display";
  font-weight: 600;
  src: local('SF UI Display Semibold'), url('../fonts/sf-ui-display-semibold.woff') format('woff');
}

/** Medium */
@font-face {
  font-family: "SF UI Display";
  font-weight: 500;
  src: local('SF UI Display Medium'), url('../fonts/sf-ui-display-medium.woff') format('woff');
}

/** Regular */
@font-face {
  font-family: "SF UI Display";
  font-weight: 400;
  src: local('SF UI Display Regular'), url('../fonts/sf-ui-display-regular.woff') format('woff');
}

/** Light */
@font-face {
  font-family: "SF UI Display";
  font-weight: 300;
  src: local('SF UI Display Light'), url('../fonts/sf-ui-display-light.woff') format('woff');
}

/** Thin */
@font-face {
  font-family: "SF UI Display";
  font-weight: 200;
  src: local('SF UI Display Thin'), url('../fonts/sf-ui-display-thin.woff') format('woff');
}

/** Ultralight */
@font-face {
  font-family: "SF UI Display";
  font-weight: 100;
  src: local('SF UI Display Ultralight'), url('../fonts/sf-ui-display-ultralight.woff') format('woff');
}
